<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Rubik|Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
	<h1 class="Title">
		Imagine Dragons
	</h1>

	<img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Imagine-Dragons-press-photo-credit-Eliot-Lee-Hazel-2017-a-billboard-1548.jpg" class="img-fluid" alt="Imagine Dragons">

	<div class="Content">
		<p>
			American pop rock band from Las Vegas, Nevada, consisting of lead singer <a target="_black"
				href="https://en.wikipedia.org/wiki/Dan_Reynolds_(singer)"> Dan Reynolds</a>, lead guitarist <a
				target="_black" href="https://en.wikipedia.org/wiki/Wayne_Sermon"> Wayne Sermon</a>, bassist <a
				target="_black" href="https://en.wikipedia.org/wiki/Ben_McKee"> Ben McKee</a>, and drummer <a
				target="_black" href="https://en.wikipedia.org/wiki/Daniel_Platzman"> Daniel Platzman</a>.
		</p>

		<p>
			The band first gained exposure with the release of their single "It's Time", followed by their award-winning
			debut studio album Night Visions (2012), which resulted in the chart-topping singles "Radioactive" and
			"Demons".
			Rolling Stone named "Radioactive", which holds the record for most weeks charted on the Billboard Hot 100,
			the
			"biggest rock hit of the year" MTV called them "the year's biggest breakout band", and Billboard named them
			their "Breakthrough Band of 2013" and "Biggest Band of 2017". Placed them at the top of their "Year In Rock"
			rankings for 2013, 2017, and 2018. Imagine Dragons topped the Billboard Year-End "Top Artists – Duo/Group"
			category in 2018.
		</p>
	</div>

	<div class="List">
		<h3 class="Subtitle">
			Most popular songs
		</h3>

		<ul>
			<li> <a target="_black"
					href="https://open.spotify.com/track/0pqnGHJpmpxLKifKRmU6WP?si=6GrL09iHTGitClVf_g1gow"> Believer
					(2017) </a></li>
			<li> <a target="_black"
					href="https://open.spotify.com/track/1zB4vmk8tFRmM9UULNzbLB?si=BCYWpT56QLuXrEiZhxpx9g"> Thunder
					(2017) </a></li>
			<li> <a target="_black"
					href="https://open.spotify.com/track/6Qn5zhYkTa37e91HC1D7lb?si=Zd7l69LLSC2qgVatP2IU6w"> Whatever It
					Takes (2018)</a></li>
			<li> <a target="_black"
					href="https://open.spotify.com/track/7MXlTgQeo3IVlMpLnZuhxc?si=VO2AH8XmSE2-bZZUTTwpUQ"> It's Time
					(2013)</a></li>
			<li> <a target="_black"
					href="https://open.spotify.com/track/62yJjFtgkhUrXktIoSjgP2?i=JYPy8sIDQyi_3_BhL3CHzg"> Radioactive
					(2013)</a></li>
			<li> <a target="_black"
					href="https://open.spotify.com/track/0ct0vSOkP0IZnbPGiDltCR?si=FMQyc3hvSbGlqWYD7N-YRw"> I Bet My
					Life (2015)</a></li>
		</ul>
	</div>
</body>


</html>